{% extends 'base.html' %}

{% block head %}
    <link rel="icon" href="{{url_for('static', filename='usf-logo.png')}}">
    <style>
        body {
            background: black;
            color: white;
        }

        .questionBox {
            box-sizing: border-box;
            position: absolute;
            width: 984px;
            height: 92px;
            left: 228px;
            color: white;
            top: 280px;
            background: transparent;
            border: 2px solid #FFFFFF;
            /*box-shadow: 0px 4px 31px 15px #00543C;*/
            border-radius: 20px;
        }

        h1 {
            position: absolute;
            width: 660px;
            height: 86px;
            left: 470px;
            top: 140px;
            font-family: 'Recursive';
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 90%;
            /* or 86px */
            display: flex;
            align-items: center;
            text-align: center;
            /* Ghost */
            color: #FFFFFF;
            font-variation-settings: 'MONO' 0, 'CASL' 0, 'slnt' 0, 'CRSV' 1;
        }

        .text {
            color: white;
            font-size: 50px;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Ask Question:</h1>
    <form action="/answer" method="post">
        <input type="text" name='Question' class="questionBox" style="font-size: 50px;">
    </form>
{% endblock %}