{% extends 'base.html' %}

{% block head %}
    <link rel="icon" href="{{url_for('static', filename='usf-logo.png')}}">
    <style>
        body {
            background: black;
        }

        h1 {
            position: absolute;
            width: 370px;
            height: 58px;
            left: 100px;
            top: 20px;

            /* Title */
            font-family: 'Recursive';
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 90%;
            /* identical to box height, or 58px */

            /* Shadow */
            color: #ffffff;
            font-variation-settings: 'MONO' 0, 'CASL' 0, 'slnt' 0, 'CRSV' 1;
        }

        img {
        position: absolute;
        width: 194px;
        height: 59px;
        left: 483px;
        top: 65px;
        /*background: url(USFLogo.png);*/
        }

        .collapsible {
            max-width: 2000px;
            overflow: hidden;
            font-weight: 500;
        }
        .collapsible input {
            display: none;
        }
        .collapsible label { /*tab box*/
            position: relative;
            font-weight: 600;
            color: #FFF;
            display: block;
            cursor: pointer;
            /*padding: 10px 15px;*/
            padding: 5px 10px;
            border: 2px solid #FFF;
            border-radius: 10px 10px 0px 0px;
            z-index: 1;
            width: 136px;
            text-align: center;
            position: absolute;
            left: 130px;
            font-family: 'Recursive';
            /*font-style: italic;*/
            font-weight: 364;
            font-size: 20px;
            line-height: 160%;
            top: -45px;
            /* identical to box height, or 32px */
            font-variation-settings: 'MONO' 1, 'CASL' 0, 'slnt' -15, 'CRSV' 1;
        }

        .collapsible label:hover {
            background: linear-gradient(0deg, #00543C 0%, rgba(0, 84, 60, 0) 113.57%);
            position: relative;
            font-weight: 600;
            color: #FFF;
            display: block;
            cursor: pointer;
            /*padding: 10px 15px;*/
            padding: 5px 10px;
            border: 2px solid #FFF;
            border-radius: 10px 10px 0px 0px;
            z-index: 1;
            width: 136px;
            text-align: center;
            position: absolute;
            left: 130px;
            font-family: 'Recursive';
            /*font-style: italic;*/
            font-weight: 364;
            font-size: 20px;
            line-height: 160%;
            top: -45px;
            /* identical to box height, or 32px */
            font-variation-settings: 'MONO' 1, 'CASL' 0, 'slnt' -15, 'CRSV' 1;
        }
        .collapsible label:after {
            content: "";
            position: absolute;
            right: 15px;
            top: 15px;
            width: 18px;
            height: 18px;
        }
        .collapsible-text { /*when in break*/
            max-height: 1px;
            overflow: hidden;
            border-radius: 4px;
            line-height: 1.4;
            color: #ffffff;
            position: relative;
            top: -100%;
            opacity: 0.5;
            transition: all 0.3s ease;
        }
        .collapsible input:checked ~ .collapsible-text { /*box around break*/
            max-height: 300px;
            border: 2px solid #ffffff;
            border-radius: 15px;
            opacity: 1;
            top: 0;
            left: 100px;
            position: relative;
            width: 1196px;


        }
        .collapsible-text p { /*text in box*/
            padding-left: 15px;
            padding-right: 15px;
            font-family: 'Recursive';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 160%;
            /* identical to box height, or 32px */
            font-variation-settings: 'MONO' 0, 'CASL' 0, 'slnt' 0, 'CRSV' 0.5;
        }
        .wrapper {
            top: 55px;
            position: relative;
        }

        /* SECOND COLL BOX */
        .collapsible2 {
            max-width: 2000px;
            overflow: hidden;
            font-weight: 500;
        }

        .collapsible2 input {
            display: none;
        }

        .collapsible2 label { /* tab box */
            position: relative;
            font-weight: 600;
            color: white;
            display: block;
            cursor: pointer;
            /*padding: 10px 20px;*/
            padding: 5px 10px;
            border: 2px solid #fff;
            border-radius: 10px 10px 0px 0px;
            z-index: 1;
            width: 184px;
            left: 130px;
            font-family: 'Recursive';
            /*font-style: italic;*/
            font-weight: 364;
            font-size: 20px;
            line-height: 160%;
            text-align: center;
            /* identical to box height, or 32px */
            font-variation-settings: 'MONO' 1, 'CASL' 0, 'slnt' -15, 'CRSV' 1;
        }

        .collapsible2 label:hover {
            background: linear-gradient(0deg, #00543C 0%, rgba(0, 84, 60, 0) 113.57%);
            position: relative;
            font-weight: 600;
            color: white;
            display: block;
            cursor: pointer;
            /*padding: 10px 20px;*/
            padding: 5px 10px;
            border: 2px solid #fff;
            border-radius: 10px 10px 0px 0px;
            z-index: 1;
            width: 184px;
            left: 130px;
            font-family: 'Recursive';
            /*font-style: italic;*/
            font-weight: 364;
            font-size: 20px;
            line-height: 160%;
            text-align: center;
            /* identical to box height, or 32px */
            font-variation-settings: 'MONO' 1, 'CASL' 0, 'slnt' -15, 'CRSV' 1;
        }

        .collapsible2 label:after {
            content: "";
            position: absolute;
            right: 15px;
            top: 15px;
            width: 18px;
            height: 18px;
        }

        .collapsible-text2 {
            max-height: 1px;
            overflow: hidden;
            border-radius: 4px;
            line-height: 1.4;
            position: relative;
            top: -100%;
            opacity: 0.5s;
            transition: all 0.3s ease;
        }

        .collapsible2 input:checked ~ .collapsible-text2 { /* content box */
            max-height: 300px;
            border: 2px solid #fff;
            border-radius: 15px;
            color: white;
            opacity: 1;
            top: 0;
            left: 100px;
            width: 1196px;
        }

        .collapsible-text2 p {
            padding-left: 15px;
            padding-right: 15px;
            font-family: 'Recursive';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 160%;
            /* identical to box height, or 32px */
            font-variation-settings: 'MONO' 0, 'CASL' 0, 'slnt' 0, 'CRSV' 0.5;
        }

        .wrapper2 {
            position: relative;
            top: 70px;
        }

        /* COLL BLOCK THREE */
        .collapsible3 {
            max-width: 2000px;
            overflow: hidden;
            font-weight: 500;
        }

        .collapsible3 input {
            display: none;
        }

        .collapsible3 label { /* tab box */
            position: relative;
            font-weight: 600;
            color: white;
            display: block;
            cursor: pointer;
            /*padding: 10px 20px;*/
            padding: 5px 10px;
            border: 2px solid #fff;
            border-radius: 10px 10px 0px 0px;
            z-index: 1;
            width: 184px;
            left: 130px;
            font-family: 'Recursive';
            /*font-style: italic;*/
            font-weight: 364;
            font-size: 20px;
            line-height: 160%;
            text-align: center;
            /* identical to box height, or 32px */
            font-variation-settings: 'MONO' 1, 'CASL' 0, 'slnt' -15, 'CRSV' 1;
        }

        .collapsible3 label:hover {
            position: relative;
            font-weight: 600;
            color: white;
            display: block;
            cursor: pointer;
            /*padding: 10px 20px;*/
            padding: 5px 10px;
            border: 2px solid #fff;
            border-radius: 10px 10px 0px 0px;
            z-index: 1;
            width: 184px;
            left: 130px;
            font-family: 'Recursive';
            /*font-style: italic;*/
            font-weight: 364;
            font-size: 20px;
            line-height: 160%;
            text-align: center;
            /* identical to box height, or 32px */
            font-variation-settings: 'MONO' 1, 'CASL' 0, 'slnt' -15, 'CRSV' 1;
            background: linear-gradient(0deg, #00543C 0%, rgba(0, 84, 60, 0) 113.57%);
        }

        .collapsible3 label:after {
            content: "";
            position: absolute;
            right: 15px;
            top: 15px;
            width: 18px;
            height: 18px;
        }

        .collapsible-text3 {
            max-height: 1px;
            overflow: hidden;
            border-radius: 4px;
            line-height: 1.4;
            position: relative;
            top: -100%;
            opacity: 0.5s;
            transition: all 0.3s ease;
        }

        .collapsible3 input:checked ~ .collapsible-text3 { /* content box */
            max-height: 300px;
            border: 2px solid #fff;
            border-radius: 15px;
            color: white;
            opacity: 1;
            top: 0;
            left: 100px;
            width: 1196px;
        }

        .collapsible-text3 p {
            padding-left: 15px;
            padding-right: 15px;
            font-family: 'Recursive';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 160%;
            /* identical to box height, or 32px */
            font-variation-settings: 'MONO' 0, 'CASL' 0, 'slnt' 0, 'CRSV' 0.5;
        }

        .wrapper3 {
            position: relative;
            top: 85px;
        }

        h5 {
            position: relative;
            color: white;
            border: 2px solid #fff;
            border-radius: 10px;
            padding: 10px 15px;
            width: 180px;
            text-align: center;
            left: 750px;
            top: 33px;
        }

        h5:hover {
            position: relative;
            color: white;
            border: 2px solid #fff;
            border-radius: 10px;
            padding: 10px 15px;
            width: 180px;
            text-align: center;
            left: 750px;
            top: 33px;
            background: linear-gradient(262.68deg, #FDBB30 0%, #00543C 100%);
        }
        
        .next { /* SOOOOSSSS BUTTON LEAVES TRACE???*/
            background-color: transparent;
            display: contents;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Chat GPT @</h1>
    <img src="{{ url_for('static', filename='images/USFLogo.svg') }}">
    <form action="/prompt" method="post">
        <button class="next"><h5>Get started &rarr;</h5></button>
    </form>
    
    <div class="wrapper">
        <div class="collapsible">
            <input type="checkbox" id="collapsible-head">
            <label for="collapsible-head">Examples</label>
            <div class="collapsible-text">
                <p>&bull; When is Spring Break? <br>
                    &bull; What are the major requirements for Computer Science? <br>
                    &bull; What is a professor's email?</p>
            </div>
        </div>
    </div>

    <div class="wrapper2">
        <div class="collapsible2">
            <input type="checkbox" id="collapsible-head2">
            <label for="collapsible-head2">Capabilities</label>
            <div class="collapsible-text2">
                <p>&bull; Gives specific information. <br>
                    &bull; Gives quick answers without having to manually crawl the webpage. <br>
                    &bull; Does not provide information outside of USF's domain.</p>
            </div>
        </div>
    </div>

    <div class="wrapper3">
        <div class="collapsible3">
            <input type="checkbox" id="collapsible-head3">
            <label for="collapsible-head3">Limitations</label>
            <div class="collapsible-text3">
                <p>&bull; Sometimes produces inaccurate results. <br> 
                    &bull; Restricted to only USF related questions. <br>
                    &bull; Will sometimes crawl outdated pages, yielding outdated responses.</p>
            </div>
        </div>
    </div>

{% endblock %}
